.idea
.vscode/**
typings/**
out/test/**
coverage/**
test/**
src/**

//trg
jasmin-tests/node_modules/**
jasmin-tests/.nyc_output/**
jest-tests/node_modules/**
jest-tests/node_modules/**
mocha-chai-tests/node_modules/**
mocha-chai-tests/.nyc_output/**
