.idea
.vscode/**
typings/**
out/test/**
coverage/**
test/**
src/**


fe-tests/jasmin-tests/node_modules/**
fe-tests/jasmin-tests/.nyc_output/**
fe-tests/jest-tests/node_modules/**
fe-tests/jest-tests/.scannerwork/**
fe-tests/cypress-tests/node_modules/**
fe-tests/mocha-chai-tests/node_modules/**
fe-tests/mocha-chai-tests/.nyc_output/**
